extends layout

block content
  h1= title
  h2 Question Database Updates
  a(href="/add") Add a question
  br
  a(href="/edit") Edit a question
  br
  a(href="/delete") Delete a question
  br
  a(href="/grid") View question grid
  br
  a(href="/oldquestions") View deleted questions
  br
  a(href="/viewTags") View All Tags
  br
  br
  a(href="/questions.csv") Download the database
