body {
  padding: 50px;
  font: 14px Helvetica, Arial, sans-serif;
  line-height: 175%;
}

a {
  color: #00B7FF;
}

#chosenQuestion {
	width: 90% !important;
}

.label,	 .Label {
	font-weight: bold;
}

table {
	border-collapse: collapse;
}

td {
	padding: 10px;
	width: 200px;
	/*white-space: nowrap*/
}

button {
	padding: 5px;
	margin: 5px;
}

#searchText {
	line-height: 20px;
}
